@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4 text-danger">Welcome</h1>
  <h4 class="text-warning">You will never have the butt you want if you sit on the butt you have.</h4>

  <a  asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/imagesLayout/JulioProImage.png" style="width:50%" /></a>
</div>
