/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --ifm-menu-link-padding-horizontal:1.5em;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.examen {
  background-color: #ff6e75;
}

.remise-tp1::after {
  content: "Remise TP1";
  text-align: center;
  width: 100%;
  display: block;
  background: #8787ff;
  font-size: 0.75em;
}

.remise-tp2::after {
  content: "Remise TP2";
  text-align: center;
  width: 100%;
  display: block;
  background: #8787ff;
  font-size: 0.75em;
}

.remise-tp3::after {
  content: "Remise TP3";
  text-align: center;
  width: 100%;
  display: block;
  background: #8787ff;
  font-size: 0.75em;
}

.remise-tp4::after {
  content: "Remise TP4";
  text-align: center;
  width: 100%;
  display: block;
  background: #8787ff;
  font-size: 0.75em;
}
